{
  "plugins": ["stylelint-order"],
  "rules": {
    "order/order": ["custom-properties", "declarations", "at-rules"],
    "order/properties-order": ["display", "flex-direction", "position", "width", "height"],
    "declaration-empty-line-before": "never",
    "at-rule-empty-line-before": ["always"]
  }
}
