.side-navigation-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 650px;

  @apply border border-black;
}

.side-navigation-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2rem;

  @apply border border-black bg-blue-400;
}

.side-navigation-title-items-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  @apply border border-black;
}

.side-navigation-items {
  flex: 1;

  @apply border border-blue-700 rounded-lg;
}
